// triangle top using border
.triangles-border-top {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-border-top::after {
	position: absolute;
	left: 50%;
	top: 0;
	content: '';
	transform: translateX(-50%);

	// triangle
	border-width: 0 calc(60px * .72) 60px calc(60px * .72);
	border-color: transparent transparent #333 transparent;
}

// triangle right using border
.triangles-border-right {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-border-right::after {
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	transform: translateY(-50%);

	// triangle
	border-width: calc(60px * .72) 0 calc(60px * .72) 60px;
	border-color: transparent transparent transparent #333;
}

// triangle bottom using border
.triangles-border-bottom {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-border-bottom::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	content: '';
	transform: translateX(-50%);

	// triangle
	border-width: 60px calc(60px * .72) 0 calc(60px * .72);
	border-color: #333 transparent transparent transparent;
}

// triangle left using border
.triangles-border-left {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-border-left::after {
	position: absolute;
	left: 0;
	top: 50%;
	content: '';
	transform: translateY(-50%);

	// triangle
	border-width: calc(60px * .72) 60px calc(60px * .72) 0;
	border-color: transparent #333 transparent transparent;
}


// triangle top using clip-path
.triangles-clip-path-top {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-clip-path-top::after {
	position: absolute;
	left: 50%;
	top: 0;
	content: '';
	transform: translateX(-50%);

	// triangle
	width: 80px;
  aspect-ratio: 1/cos(30deg);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background-color: #666;
}

// triangle right using clip-path
.triangles-clip-path-right {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-clip-path-right::after {
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	transform: translateY(-50%);

	// triangle
	height: 80px;
  aspect-ratio: cos(30deg)/1;
	clip-path: polygon(0 0, 0% 100%, 100% 50%);
	background-color: #666;
}

// triangle bottom using clip-path
.triangles-clip-path-bottom {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-clip-path-bottom::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	content: '';
	transform: translateX(-50%);

	// triangle
	width: 80px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
	background-color: #666;
}

// triangle left using clip-path
.triangles-clip-path-left {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-clip-path-left::after {
	position: absolute;
	left: 0;
	top: 50%;
	content: '';
	transform: translateY(-50%);

	// triangle
	height: 80px;
  aspect-ratio: cos(30deg)/1;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
	background-color: #666;
}


// triangle top using clip-path - gradient
.triangles-clip-path-gradient-top {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-clip-path-gradient-top::after {
	position: absolute;
	left: 50%;
	top: 0;
	content: '';
	transform: translateX(-50%);

	// triangle
	width: 80px;
  aspect-ratio: 1/cos(30deg);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: linear-gradient(0deg, rgba(97,142,255,1) 0%, rgba(180,118,255,1) 100%);
}

// triangle right using clip-path - gradient
.triangles-clip-path-gradient-right {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-clip-path-gradient-right::after {
	position: absolute;
	right: 0;
	top: 50%;
	content: '';
	transform: translateY(-50%);

	// triangle
	height: 80px;
  aspect-ratio: cos(30deg)/1;
	clip-path: polygon(0 0, 0% 100%, 100% 50%);
	background: linear-gradient(180deg, rgba(80,113,255,1) 0%, rgba(153,61,129,1) 75%);
}

// triangle bottom using clip-path - gradient
.triangles-clip-path-gradient-bottom {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-clip-path-gradient-bottom::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	content: '';
	transform: translateX(-50%);

	// triangle
	width: 80px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
	background: linear-gradient(180deg, rgba(45,41,143,1) 0%, rgba(42,113,179,1) 75%);
}

// triangle left using clip-path - gradient
.triangles-clip-path-gradient-left {
	position: relative;
	width: 80px;
	height: 80px;
}
.triangles-clip-path-gradient-left::after {
	position: absolute;
	left: 0;
	top: 50%;
	content: '';
	transform: translateY(-50%);

	// triangle
	height: 80px;
  aspect-ratio: cos(30deg)/1;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
	background: linear-gradient(90deg, rgb(120, 0, 212) 0%, rgba(196,82,0,1) 100%);
}

h1, h2 {
  font-family: "Noto Sans JP", "Poppins", sans-serif;
}
body {
  background-color: #85CFF9;
  color: #341542;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  min-height: 100vh;
  height: 100%;
}
