.triangles-border-top {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-border-top::after {
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  transform: translateX(-50%);
  border-width: 0 43.2px 60px 43.2px;
  border-color: transparent transparent #333 transparent;
}

.triangles-border-right {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-border-right::after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  transform: translateY(-50%);
  border-width: 43.2px 0 43.2px 60px;
  border-color: transparent transparent transparent #333;
}

.triangles-border-bottom {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-border-bottom::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  transform: translateX(-50%);
  border-width: 60px 43.2px 0 43.2px;
  border-color: #333 transparent transparent transparent;
}

.triangles-border-left {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-border-left::after {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  transform: translateY(-50%);
  border-width: 43.2px 60px 43.2px 0;
  border-color: transparent #333 transparent transparent;
}

.triangles-clip-path-top {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-clip-path-top::after {
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  transform: translateX(-50%);
  width: 80px;
  aspect-ratio: 1/cos(30deg);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #666;
}

.triangles-clip-path-right {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-clip-path-right::after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  transform: translateY(-50%);
  height: 80px;
  aspect-ratio: cos(30deg)/1;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background-color: #666;
}

.triangles-clip-path-bottom {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-clip-path-bottom::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  transform: translateX(-50%);
  width: 80px;
  aspect-ratio: 1/cos(30deg);
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: #666;
}

.triangles-clip-path-left {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-clip-path-left::after {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  transform: translateY(-50%);
  height: 80px;
  aspect-ratio: cos(30deg)/1;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%);
  background-color: #666;
}

.triangles-clip-path-gradient-top {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-clip-path-gradient-top::after {
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  transform: translateX(-50%);
  width: 80px;
  aspect-ratio: 1/cos(30deg);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: linear-gradient(0deg, rgb(97, 142, 255) 0%, rgb(180, 118, 255) 100%);
}

.triangles-clip-path-gradient-right {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-clip-path-gradient-right::after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  transform: translateY(-50%);
  height: 80px;
  aspect-ratio: cos(30deg)/1;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background: linear-gradient(180deg, rgb(80, 113, 255) 0%, rgb(153, 61, 129) 75%);
}

.triangles-clip-path-gradient-bottom {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-clip-path-gradient-bottom::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  transform: translateX(-50%);
  width: 80px;
  aspect-ratio: 1/cos(30deg);
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  background: linear-gradient(180deg, rgb(45, 41, 143) 0%, rgb(42, 113, 179) 75%);
}

.triangles-clip-path-gradient-left {
  position: relative;
  width: 80px;
  height: 80px;
}

.triangles-clip-path-gradient-left::after {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  transform: translateY(-50%);
  height: 80px;
  aspect-ratio: cos(30deg)/1;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%);
  background: linear-gradient(90deg, rgb(120, 0, 212) 0%, rgb(196, 82, 0) 100%);
}

h1, h2 {
  font-family: "Noto Sans JP", "Poppins", sans-serif;
}

body {
  background-color: #85CFF9;
  color: #341542;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  min-height: 100vh;
  height: 100%;
}/*# sourceMappingURL=index.css.map */