/* The Popup background */
.popup-bg {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Popup Content/Box */
.popup {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  padding-right: 10px;
  border-radius: 8px;
  z-index: 11;
  width: 80vw;
  max-width: 960px;
  height: 80vh;
  max-height: 720px;
  -webkit-animation-name: popupAnimation;
          animation-name: popupAnimation;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media screen and (max-width: 980px) {
  .popup {
    width: 90vw;
  }
}
@media screen and (max-width: 767px) {
  .popup {
    width: 97vw;
    height: 90vh;
    max-height: none;
    padding: 0;
    padding-bottom: 15px;
  }
}
.popup .popup-inner {
  overflow-y: scroll;
  scrollbar-width: thin;
  width: 100%;
  height: 100%;
  padding-right: 5px;
}
@media screen and (max-width: 767px) {
  .popup .popup-inner {
    padding-right: 0;
  }
}
.popup .popup-inner::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}
.popup .popup-inner::-webkit-scrollbar-thumb {
  background: #aaa;
  width: 4px;
  border-radius: 4px;
}
.popup img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
}
@media screen and (max-width: 767px) {
  .popup img {
    border-radius: 8px 8px 0 0;
  }
}

:root {
  --popup-origin-top: 0;
  --popup-origin-left: 0;
}

@-webkit-keyframes popupAnimation {
  from {
    opacity: 0.6;
    top: var(--popup-origin-top);
    left: var(--popup-origin-left);
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes popupAnimation {
  from {
    opacity: 0.6;
    top: var(--popup-origin-top);
    left: var(--popup-origin-left);
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}
/* The Close Button */
.close {
  color: #fff;
  position: absolute;
  top: -32px;
  right: -32px;
  font-size: 26px;
  line-height: 14px;
  font-weight: bold;
  padding: 6px;
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 767px) {
  .close {
    top: -32px;
    right: -4px;
  }
}

.close:hover,
.close:focus {
  color: #222222;
  text-decoration: none;
  cursor: pointer;
}

.popup-content {
  display: flex;
  justify-content: space-between;
  color: #222222;
  font-family: "Inter";
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .popup-content {
    flex-wrap: wrap;
    padding: 0 15px;
  }
}

.popup-content-left {
  border-right: solid 0.6px #dddddd;
  padding-right: 20px;
  margin-right: 20px;
  max-width: 600px;
  width: 60%;
}
@media screen and (max-width: 767px) {
  .popup-content-left {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    max-width: auto;
    width: 100%;
  }
}
.popup-content-left .room-name {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 26px;
}
.popup-content-left .award {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5%;
  border-radius: 12px;
  border: solid 0.6px #dddddd;
  margin-top: 20px;
}
.popup-content-left .award .award-trophy {
  font-size: 36px;
}
.popup-content-left .award .award-content {
  width: 250px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 8px;
}
.popup-content-left .award .award-rating {
  margin-left: auto;
  font-size: 20px;
}
.popup-content-left .description {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.popup-content-right {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .popup-content-right {
    margin: 20px 0 0;
    width: 100%;
  }
}
.popup-content-right .fee-top {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .popup-content-right .fee-top {
    text-align: right;
  }
}
.popup-content-right .fee-top .night {
  font-size: 16px;
  font-weight: 400;
}
.popup-content-right .date-table {
  border-radius: 8px;
  border: solid 0.6px #aaa;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.popup-content-right .date-table .box-date,
.popup-content-right .date-table .box-guests {
  padding: 10px;
  cursor: not-allowed;
}
.popup-content-right .date-table .box-date .title,
.popup-content-right .date-table .box-guests .title {
  font-size: 10px;
  font-weight: 700;
}
.popup-content-right .date-table .box-date .date,
.popup-content-right .date-table .box-date .guests,
.popup-content-right .date-table .box-guests .date,
.popup-content-right .date-table .box-guests .guests {
  font-size: 14px;
}
.popup-content-right .date-table .box-date {
  width: 50%;
}
.popup-content-right .date-table .box-date:first-child {
  border-right: solid 0.6px #aaa;
}
.popup-content-right .date-table .box-guests {
  width: 100%;
  border-top: solid 0.6px #aaa;
  position: relative;
}
.popup-content-right .date-table .box-guests::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(45deg);
  border-right: solid 2px #222222;
  border-bottom: solid 2px #222222;
  width: 8px;
  height: 8px;
}
.popup-content-right .button-reserve {
  height: 48px;
  width: 100%;
  border-radius: 8px;
  background-color: #E31C5F;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  cursor: not-allowed;
}
.popup-content-right .payment-msg {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}
.popup-content-right .fee-breakdown {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 16px;
}
.popup-content-right .fee-breakdown.total {
  margin-top: 24px;
  padding-top: 24px;
  border-top: solid 0.6px #dddddd;
}

/* Card section */
.card-section {
  margin: 3rem auto 120px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 932px;
}
@media screen and (max-width: 980px) {
  .card-section {
    max-width: 616px;
  }
}
@media screen and (max-width: 767px) {
  .card-section {
    max-width: auto;
    width: 95%;
  }
}

.card-container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 16px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  color: #222222;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover img {
  overflow: hidden;
  transform: scale(1.1);
  display: inline-block;
}
.card:hover .card-header,
.card:hover .card-body {
  opacity: 0.7;
}

.card-img {
  width: 100%;
  height: 280px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.card-img .badge-fav {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #fff;
  border-radius: 40px;
  padding: 1px 10px;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  transition: all 0.3s ease;
}
.card-header .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 19px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 19px;
}
.card-header .rating {
  font-size: 15px;
}

.card-body {
  margin-top: 2px;
  font-size: 15px;
  line-height: 19px;
  color: rgb(106, 106, 106);
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 80px;
  transition: all 0.3s ease;
}/*# sourceMappingURL=index.css.map */